:root {
    --cardTransition: transform 0.5s ease-out, opacity 0.5s ease-out;
    --cardThrowTransition: transform 0.5s ease-out, opacity 0.5s ease-out;
    --cardTextTransition: transform 0.5s ease-out, opacity 0.5s ease-out;
    --cardTextMoveAmount: 15px;
  }

.gameCard{
    transform: rotate(0deg);
    transform-origin: bottom center;
    transition: var(--cardTransition);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gameCardOverlay{
    transform: rotate(0deg) translateY(-105%) scaleX(10);
    transform-origin: top;
    transition: var(--cardTransition);
}

.cardThrowLeft{
    transition: var(--cardThrowTransition);
    transform:rotate(-45deg) skewY(-3deg) translate(-500px, 72px);
    opacity: 0;
}
.cardThrowRight{
    transition: var(--cardThrowTransition);
    transform:rotate(45deg) skewY(3deg) translate(500px, 72px);
    opacity: 0;
}

.cardText{
    transition: var(--cardTextTransition);
}

.cardTextThrow{
    transform: translateY(var(--cardTextMoveAmount));
    opacity: 0;
}
